@model IEnumerable<OnlineStore.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<h1>MovieList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Title: @item.Title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">ReleaseDate: @item.ReleaseDate</h6>
                    <p class="card-text">Genre: @item.Genre</p>
                    <a href="#" class="card-link">Add to Cart</a>
                    <div>
                        <a asp-action="Edit" asp-route-id="@item.MovieId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.MovieId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.MovieId">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>